.product {
  float: left;
  width: 400px;
  height: 460px;
  padding-right:30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.product img {
  width: 100%;
  margin-bottom: 10px;
}
.name{
	font-size:14px;
	margin:5px 0;
}
.price{
	margin:2px 0;
}
.status{
margin:2px 0;	
}

.detail-info{
	font-size:12px;
}
.detail-label{
	font-weight: bold;
}